.list {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #9c7eee;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
}

.name {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
}
.description {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
}
.views {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
}
/* Styles for Link */
.details {
    text-decoration: none;
    color: white; /* Blue color */
    margin-right: 10px;
}

.details:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Styles for button */
.deleteButton {
    background-color: #9c7eee; /* Red color */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.deleteButton:hover {
    background-color: #7e5bd0; /* Darker red color on hover */
}

/* You can add more styles as needed */

.price {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}